[Unit]
Description=On shutdown, clear ePaper display to reset state
Documentation=https://github.com/omgitskuei/RPiDev/blob/main/RPi400/Cyberdeck_Stats_Monitor/
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/home/kfctr400/omgitskuei/RPiDev/RPi400/Cyberdeck_Stats_Monitor/python/clear.py 
RemainAfterExit=no
StandardOutput=file:/home/kfctr400/omgitskuei/RPiDev/RPi400/Cyberdeck_Stats_Monitor/logs/cyberdeck_shutdown_clear_service_stdout.log
StandardError=file:/home/kfctr400/omgitskuei/RPiDev/RPi400/Cyberdeck_Stats_Monitor/logs/cyberdeck_shutdown_clear_service_stderr.log
 
[Install]
WantedBy=shutdown.target
